body {
    background-color: #000;
    padding-top: 1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #fff;
}

.description {
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    margin: 1em 0 1em 0;
}

.select-game {
    margin: 1em 0 0 0;
}

.select-game-description {
    text-align: center;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.2em;
    margin: 3em 0 0 0;
}

.images-slider {
}

.images-slider img {
    width: 100%;
    height: auto;
    display: none;
}

.slick-prev:before, .slick-next:before { 
    color:black !important;
}

.coffee-break {
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
    font-family: 'Press Start 2P', cursive;
}

.coffee-break-cta {
    font-size: 30px;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-family: 'Press Start 2P', cursive;
}

.call-to-action-text {
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.download-button-apple {
    text-align: center;
    margin-bottom: 4em;
}

.download-button-apple img {
    width: auto;
    height: 60px;
}

.download-button-play {
    text-align: center;
    margin-bottom: 3em;
}

.download-button-play img {
    width: 172px;
    height: 60px;
}

.place-text {
    color: #d83d87;
}

.downloads-row {
    //padding-bottom: 0px;
}

.contact-us-row {
    font-size: 15px;
    text-align: center;
    padding-bottom: 1em;
}